
.carousel-control-prev,
.carousel-control-next{
    opacity: 1;
    span {
        color: $primary;
        font-size: 4em;
    }
}
.carousel-control-prev{
    left: -4em;
}
.carousel-control-next{
    right: -4em;
}

.card {
    .card-title{
        color: $gray-700;
    }
    .card-text {
        color: $gray-500;
    }
}

.carousel-indicators {
    bottom: -5em;
    li {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        opacity: 1;
        background-color: $gray-400;
        &.active{
            background-color: $primary;
        }
    }
}

.carousel-desktop {
    .card {
        .card-img-top {
            min-height: 238px;
        }
    }
    // @include media-breakpoint-down(xs){
    //     display: none;
      // }
}
.carousel-mobile{
    // @include media-breakpoint-up(sm){
    //     display: none;
    // }   
    .card {
        .card-img-top {
            max-height: 690px;
        }
    }
}