$font-size-xl: $font-size-base * 5.5 ;
header {
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-in-out ;
    @include media-breakpoint-down(md) {
        &.collapse-xs-extend {
            background-color: $primary;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1090;
        }
      }
    &.header-bg {
        background-color: $primary;
        transition: all 0.5s ease-in-out ;
    }
    &.collapse-nav{
        background: $primary;
    }
    nav{
        &.navbar-dark, &.navbar-light {
            .navbar-collapse{
                @include media-breakpoint-down(md){
                    margin-top: 5rem;
                }
            }
            .navbar-toggler {
                border-color: transparent;
                color: #FFF;
                .icon_close {
                    font-size: 3rem;
                }
            }
            .navbar-nav{                
                .nav-link {
                    color: #FFF;
                    font-size: 0.75rem;
                }
                @include media-breakpoint-down(md){
                    .nav-link {
                        font-size: 2rem;
                    }
                }
            }
        }
        svg {
            width: 4rem;
        }
    }
}
.hero-content {
    position: relative;
    background-image: url($header-bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    .mask{
        background-color: rgba(0,0,0,0.5);
    }  
    .jumbotron{
        background-color:transparent;
        h1{
            font-size: $font-size-xl;
            &:after{
                font-family: initial;
                content: '.';
                color: $blue;
            }
        }
    }
}
