.trend {
    background-color: rgba(0, 0, 0, 0.5);
    @include media-breakpoint-down(md){
        display: none;
    }
    .col-sm {
        h4 {
            line-height: 1.5em;
        }
        span {
            color: $primary;
        }
    }
}