$primary: #4A90E2;
$border-radius: 0.5rem;

@import 'fonts';
@import 'images';

@import '~bootstrap/scss/bootstrap';

//Basic Bootstrap SASS
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';

//Custom imports of Bootstrap
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/utilities';

//Custom SCSS
* {
    box-sizing: border-box;
}
body {
    color: $white;
    font-family: $poppins;
}
@import 'header';
@import 'trend';
@import 'cards';
@import 'about';