doctype html
html(lang="en")
    head
        include ./src/templates/head.pug
    body
        header.pl-3.pr-3
            include ./src/templates/navbar.pug
        
        include ./src/templates/hero.pug
        //- include ./src/templates/trend.pug
    include ./src/templates/footer.pug