doctype html
html(lang="en")
    head
        include ./src/templates/head.pug
    body.bg-light
        header
            include ./src/templates/navbar.pug
        include ./src/templates/hero.pug
        include ./src/templates/cards.pug
        include ./src/templates/about.pug
    include ./src/templates/footer.pug