doctype html
html(lang="en")
    head
        
            include ./src/templates/head.pug
    body
        header.container-fluid
            include ./src/templates/navbar.pug
            include ./src/templates/header.pug
        
    include ./src/templates/footer.pug