footer.container
    .row
        .col-12
            h6
                small &copy; 2016 Created by Joyjet Digital Space Agency
    each js in htmlWebpackPlugin.files.js
        script(type='text/javascript', src=js)