- title = 'space'
- lead = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec lectus vitae nisl tempor semper.'

section.hero-content
    .mask
        .container
            .row
                .col-xs-12.col-sm-5
                    .jumbotron.px-0
                        h1.display-4.text-uppercase.font-weight-bold #{title}
                        p.lead #{lead}
                        a.btn.btn-primary.btn-lg.mt-5.px-4(href='#', role='button') #{'click'}
        .container-fluid.trend
            include ./trend.pug