
- options = ['blog', 'popular', 'about', 'archive']

nav.container.navbar.navbar-expand-lg.navbar-dark.sticky-top.px-5.px-sm-0
    a.navbar-brand(href="#") #{Navbar}
        include ./../../images/space_logo.svg
        //- img(src="../../layout/rocket_brand.svg", width="64", height="64", onerror="this.onerror=null;this.src = '../../layout/rocket_brand.png'")
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse.text-center#navbarNav
        ul.navbar-nav.ml-auto.text-uppercase.font-weight-bold
            each item, index in options
                li.nav-item.ml-sm-5.ml-xs-0
                    a.nav-link(href='#' + index )= item  
                        case index  
                            when 0
                                span.sr-only #{'(current)'}
                            

