
- options = ['blog', 'popular', 'about', 'archive']

nav.navbar.navbar-fixed.container-fluid.navbar-dark
    a.navbar-brand(href="#")
        img(src="https://placeholder.pics/svg/64x64", width="64", height="64", srcset="")
    button.navbar-toggler(type='button', date-toggle='collapse', data-target="#mainNavbar", aria-controls='mainNavbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.navbar-collapse.collapse#mainNavbar
        ul.navbar-nav
            each item, index in options
                li.nav-item
                    a.nav-link(href= '#' + index)= item