
- options = ['blog', 'popular', 'about', 'archive']

nav.container.navbar.navbar-expand-lg.navbar-dark.sticky-top
    a.navbar-brand(href="#") #{Navbar}
        img(src="https://placeholder.pics/svg/64x64", width="64", height="64", srcset="")
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse.text-center#navbarNav
        ul.navbar-nav.ml-auto.text-uppercase.font-weight-bold
            each item, index in options
                li.nav-item.ml-sm-5.ml-xs-0
                    a.nav-link(href='#' + index )= item  
                        case index  
                            when 0
                                span.sr-only #{'(current)'}
                            

